<%
  function formatAmount(x, y) {
    if(x == '1') {
      return x + ' ' + y.slice(0, -1);
    } else {
      return x + ' ' + y;
    }
  }
%>

<!DOCTYPE html>
<html>
  <head>
    <title>Who Pays Artists?</title>
    <link href='http://fonts.googleapis.com/css?family=Oswald|Open+Sans+Condensed:300,300italic' rel='stylesheet' type='text/css'>
    <script type='text/javascript' src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script type='text/javascript' src='javascripts/main.js'></script>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/css3-tips.css' />
  </head>
  <body>
    <div class="wrapper">

      <div id="header" class="section">
        <h1>Who Pays<img src="images/header.png"/>Artists<span class="q">?</span></h1>
      </div>

      <img src="images/top-background.png" class="split"/>

      <div id="intro" class="section">
        <h2>Making a living as an artist can be hard.</h2>
        <p>You never know how much to ask for. Discussions about money are taboo because we pretend that passion and creativity alone should pay the bills. Some of the best events have “no budget”, and the worst events can make a career as an artist look sustainable. Let’s help each other sort through some of the confusion, and develop an ongoing dialogue about how artists, especially media artists, make money.</p>
      </div>

      <img src="images/white-background.png" class="split"/>

      <div id="share" class="section">
        <h2>Share your experience.</h2>
        <p class="optional">All fields are optional, all submissions are anonymous.</p>
        <form name="input" action="./#share" method="post">
          <p>I was paid <span class="top-tip" data-tips="Only note your artist fee, sans materials or hired help."><input name="fee" class="fee" placeholder="500" type="number" min="0" max="1000000" step="1" /></span>
            <span class="styled-select">
              <select name="currency">
                <option value="$">$</option>
                <option value="€">&euro;</option>
                <option value="£">&pound;</option>
                <option value="¥">&yen;</option>
              </select></span>
             by <span class="top-tip" data-tips="This is the person, institution, or event that paid you."><input type="text" name="client" class="client" placeholder="Eyebeam" maxlength="80" /></span> for a
            <span class="styled-select top-tip" data-tips="If you were paid for multiple jobs, add them separately or clarify in 'Also'.">
              <select name="job">
                <option value=""></option>
                <option value="workshop">workshop</option>
                <option value="talk/lecture">talk/lecture</option>
                <option value="teaching position">teaching position</option>
                <option value="residency">residency</option>
                <option value="grant">grant</option>
                <option value="commission">commission</option>
                <option value="exhibition">exhibition</option>
              </select></span>
           in <input type="text" name="where" class="where" placeholder="New York" maxlength="80" />.
          </p>
          <p>It took <span class="top-tip" data-tips="Examples: 3 hour workshop, 45 minute talk/lecture, 14 days teaching, 1 month residency, 3 weeks working on a commission, 2 days installing for an exhibition."><input type="number" name="time_amount" class="time_amount" placeholder="2" min="1" max="24" step="1" /></span>
            <span class="styled-select">
              <select name="time_unit">
                <option value="hours">hours</option>
                <option value="days" selected="selected">days</option>
                <option value="weeks">weeks</option>
                <option value="months">months</option>
              </select></span>
             of work, and I had a
            <span class="styled-select top-tip" data-tips="Leave this empty if it was forgettable or 'just okay'.">
              <select name="experience">
                <option value=""></option>
                <option value="unusually good">unusually good</option>
                <option value="good">good</option>
                <option value="bad">bad</option>
                <option value="unusually bad">unusually bad</option>
              </select></span>
             experience.
          </p>
          <p>I am a
            <span class="styled-select">
              <select name="gender">
                <option value="person">person</option>
                <option value="woman">woman</option>
                <option value="man">man</option>
              </select></span>
           who has been doing this for <input type="number" name="working_years" class="working_years" placeholder="6" min="1" max="80" step="1" /> years.
          </p>
          <p>
            Also: <input type="text" name="also" class="also" placeholder="Share details to help others understand your experience." maxlength="500" />
          </p>
          <input type="submit" value="Submit" class="submit">
        </form>
        <% if (thanks) { %>
          <div id="thanks">
          Thanks for sharing! Your job has been anonymously added to the database.
          </div>
        <% } %>
        <% if (errors) { %>
          <div>
            <% for(var i=0; i<errors.length; i++) { %>
              <li>
                <%= errors[i].msg %>
              </li>
            <% } %>
          </div>
        <% } %>
      </div>

      <img src="images/yellow-background.png" class="split"/>

      <div id="learn" class="section">
        <h2>Learn from the experience of others.</h2>
        <ul>
        <% var monthNames = [ "January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December" ]; %>
        <% for(var i=0; i<reports.length; i++) { %>
           <li>

            <p>I was paid
              <% if ( reports[i].fee == 0 ) { %>
                  nothing
              <% } else if ( reports[i].fee ) {
                if ( reports[i].currency == '$' ) { %>
                 <%= reports[i].currency %><%= reports[i].fee %>
                 <% } else { %>
                 <%= reports[i].fee %><%= reports[i].currency %>
                 <%
               }
              } %>
              <% if ( reports[i].client ) { %>
                 by <%= reports[i].client %>
              <% } %>
              <% if ( reports[i].job ) { %>
                 for a <%= reports[i].job %>
              <% } %>
              <% if ( reports[i].where ) { %>
                 in <%= reports[i].where %>
              <% } %>
            .</p>

            <% if ( reports[i].time_amount && reports[i].experience ) { %>
              <p>It took <%= formatAmount(reports[i].time_amount, reports[i].time_unit) %> of work, and I had a <%= reports[i].experience %> experience.</p>
            <% } else if ( reports[i].time_amount ) { %>
              <p>It took <%= formatAmount(reports[i].time_amount, reports[i].time_unit) %> of work.</p>
            <% } else if ( reports[i].experience ) { %>
              <p>I had a <%= reports[i].experience %> experience.</p>
            <% } %>

            <% if ( reports[i].gender && reports[i].working_years ) { %>
              <p>I am a <%= reports[i].gender %> who has been doing this for <%= reports[i].working_years %> years.</p>
            <% } else if ( reports[i].gender ) { %>
              <p>I am a <%= reports[i].gender %>.</p>
            <% } else if ( reports[i].working_years ) { %>
              <p>I have been doing this for <%= formatAmount(reports[i].working_years, 'years') %>.</p>
            <% } %>

            <% if (reports[i].also) { %>
              <p>Also: <%= reports[i].also %></p>
            <% } %>

            <p class="date">Submitted in <%= reports[i].time_of_month %> <%= monthNames[reports[i].month] %> <%= reports[i].year %></p>
           </li>
        <% } %>
        </ul>
      </div>
    </div>

      <div id="footer">
        <p>Access all of the data in a single <a href="data.json">JSON</a> or <a href="data.csv">CSV</a> file.</a></p>
        <p><a href="mailto:info@whopaysartists.com" target="_blank">Contact us</a> or contribute on <a href="https://github.com/kylemcdonald/whopaysartists/" target="_blank">GitHub</a></p>
      </div>
  </body>
</html>
